header{
    nav{
        width: 100%;
        background: linear-gradient(184deg,#909090 0%, #000000 80%);
        background: -webkit-linear-gradient(184deg,#909090 0%, #000000 80%);
        background: -moz-linear-gradient(184deg,#909090 0%, #000000 80%);
        div{
            .logo{
                padding-left: 10px;
                width: 120px;
                transition: 3s;
                &:hover{
                    transform: rotateZ(360deg);
                }
            }
            .navbar-brand{
                font-size: 60px;
                font-family: $primary-font-family;
                font-weight: 700;
            }
        }
        div{
            ul{
                li{
                    .carrito{
                        width: 32px;
                        cursor: pointer;
                    }
                    font-size: 17px;
                    font-family: $primary-font-family;
                    transition: 1s ease, 0.5s ease-out;
                    font-weight: bolder;
                    color: nth($paleta-colores, 3);
                    margin-left: 25px;
                    &:hover{
                        transform: scale(1.2) skew(-1deg);
                        -webkit-transform: scale(1.2) skew(-1deg);
                        -moz-transform: scale(1.2) skew(-1deg);
                        }
                    }
                }
                .hidden-menu{
                    text-align: center;
                    .carrito-container{
                        display: none;
                    }
                &:hover .carrito-container{
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 100%;
                    z-index: 1;
                    background-color: rgba(194, 192, 192, 0.849);
                    border: 2px solid black;
                    padding: 20px;
                    min-width: 300px;
                    min-height: 400px;
                    .tabla-carrito{
                        th{
                            cursor: pointer;
                            color: black;
                            padding: 12px;
                            font-size: 14px;
                        }
                        .nueva-fila{
                            font-size: 13px;
                            padding: 2px;
                            color: black;                            
                        }
                    .borrar-item{
                        color: black;
                        font-size: 12px;
                        background-color: whitesmoke;
                        border-radius: 4px;
                        border: 1px solid gray;
                        padding: 2px;
                        transition: 1.5s;
                        &:hover{
                            background-color: rgba(218, 9, 9, 0.884);
                            color: white;
                        }
                    }
                    }
                    button{
                        font-size: 12px;
                        color: white;
                        border-radius: 4px;
                        background-color: red;
                        border: 1px solid black;
                        box-shadow: 3px 4 nth($paleta-colores, 11);
                        padding: 3px;
                        font-weight: bold;
                        font-family: $primary-font-family;
                    }
                }
            }
        }
    }
}