header{
    nav{
        width: 100%;
        background: linear-gradient(184deg,#909090 0%, #000000 80%);
        background: -webkit-linear-gradient(184deg,#909090 0%, #000000 80%);
        background: -moz-linear-gradient(184deg,#909090 0%, #000000 80%);
        div{
            .logo{
                padding-left: 10px;
                width: 120px;
                transition: 3s;
                &:hover{
                    transform: rotateZ(360deg);
                }
            }
            .navbar-brand{
                font-size: 60px;
                font-family: $primary-font-family;
                font-weight: 700;
            }
        }
        div{
            ul{
                li{
                    font-size: 17px;
                    font-family: $primary-font-family;
                    transition: 1s ease, 0.5s ease-out;
                    font-weight: bolder;
                    color: nth($paleta-colores, 3);
                    margin-left: 25px;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.2) skew(-1deg);
                        -webkit-transform: scale(1.2) skew(-1deg);
                        -moz-transform: scale(1.2) skew(-1deg);
                        }
                    .carrito{
                        width: 60px;
                        padding-right: 20px;
                        display: flex;
                    }
                }
            }
        }
    }
}