.section-nosotros{
    color: nth($paleta-colores, 3);
    min-height: calc(100vh - 135.24px);
    text-align: center;
    background-image: url(../img/fondo-cibernetico.jpg);
    @extend %background;
    div{
        h1{
            font-size: 60px;
            font-family: $primary-font-family;
            font-weight: bolder;
            text-decoration: underline;
            padding-top: 25px;
            color: nth($paleta-colores, 10);
            text-shadow: 10px 0 nth($paleta-colores, 11);
        }
        p{
            font-size: 34px;
            font-family: $secondary-font-family;
            font-weight: bold;
            font-style: italic;
            padding-top: 25px;
            color:nth($paleta-colores, 10);
            text-shadow: 5px 0 nth($paleta-colores, 11);
        }
    }
}