.servicios-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 15px;
    margin: 5px;
    .reparaciones{
        @include flex(flex, space-evenly, center);
        flex-direction: column;
        text-align: center;
        height: calc(100vh - 159.06px);
        background-image: url(../img/reparaciones.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid nth($paleta-colores, 9);
    }
        h3{
            text-align: center;
            font-family: $secondary-font-family;
            font-size: 40px;
            font-weight: bolder;
            border: 2px solid nth($paleta-colores, 9);
            background-color:nth($paleta-colores, 9);
            padding: 7px;
            border-radius: 15px;
        }
        a{
            text-decoration: none;
            font-family: $secondary-font-family;
            font-size: 35px;
            border: 1px solid nth($paleta-colores, 11);
            background-color: nth($paleta-colores, 11);
            color: nth($paleta-colores, 9);
            padding: 10px;
            border-radius: 15px;
            transition-duration: 1s;
            &:hover{
                background-color: nth($paleta-colores, 7);
            }
        }
    .tecnico-on{
        @include flex(flex, space-evenly, center);
        flex-direction: column;
        text-align: center;
        height: calc(100vh - 159.06px);
        background-image: url(../img/soporte.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid nth($paleta-colores, 9);
        h3{
            text-align: center;
            font-family: $secondary-font-family;
            font-size: 40px;
            font-weight: bolder;
            border: 2px solid nth($paleta-colores, 9);
            background-color:nth($paleta-colores, 9);
            padding: 7px;
            border-radius: 15px;
        }
        a{
            text-decoration: none;
            font-family: $secondary-font-family;
            font-size: 35px;
            border: 1px solid nth($paleta-colores, 11);
            background-color: nth($paleta-colores, 11);
            color: nth($paleta-colores, 9);
            padding: 10px;
            border-radius: 15px;
            transition-duration: 1s;
            &:hover{
                background-color: nth($paleta-colores, 7);
            }
        }
    }
    .cadeteria{
        @include flex(flex, space-evenly, center);
        flex-direction: column;
        text-align: center;
        height: calc(100vh - 159.06px);
        background-image: url(../img/cadeteria.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border: 2px solid nth($paleta-colores, 9);
        h3{
            text-align: center;
            font-family: $secondary-font-family;
            font-size: 40px;
            font-weight: bolder;
            border: 2px solid nth($paleta-colores, 9);
            background-color:nth($paleta-colores, 9);
            padding: 7px;
            border-radius: 15px;
        }
        a{
            text-decoration: none;
            font-family: $secondary-font-family;
            font-size: 35px;
            border: 1px solid nth($paleta-colores, 11);
            background-color: nth($paleta-colores, 11);
            color: nth($paleta-colores, 9);
            padding: 10px;
            border-radius: 15px;
            transition-duration: 1s;
            &:hover{
                background-color: nth($paleta-colores, 7);
            }
        }
    }
}