@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

/*-----------RESET--------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: rgba(3, 3, 3, 0.884);
}

.carousel-item{
    transition: 1s ease, 1s ease-out
}
