// VARIABLES //
$primary-font-family: 'Noto Sans JP', sans-serif;
$secondary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// LISTAS //
$paleta-colores:
rgba(3, 3, 3, 0.884),
rgb(22, 21, 21),
blanchedalmond,
#2d9899,
#b8b433,
antiquewhite,
rgba(43, 212, 170, 0.822),
rgba(233, 229, 11, 0.849),
white,
#eee062f3,
black,
#93B7BE,
rgba(0,0,0,0.9);


